[submodule "environment-core"]
	path = environment-core
	url = https://github.com/svo/environment-core.git
[submodule "environment-clojure"]
	path = environment-clojure
	url = https://github.com/svo/environment-clojure.git
[submodule "environment-riak"]
	path = environment-riak
	url = https://github.com/svo/environment-riak.git
